// フォントのデザイン
@font-face {
  font-family: "TitleStyle";
  src: asset_url('MotionPicture_PersonalUseOnly.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SoukouMincho";
  src: asset_url('SoukouMincho.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

// 背景画像
.haikeiimage{
  @include backimage;
  background-image: image-url("tree-753069_1920.jpg");
}

.posthaikei{
  background-color: rgba(255, 255, 255, 0);
}

// ページネーションにて使用
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: black;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}


// 投稿動画の調整
.videostyle {
  text-align: center;
}

// 投稿された時に表示されるボタンの調整
.btnstyle {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  .btn {
    @include colorstyle(black,2.5rem);
    width: 30%;
    margin: 0 auto;
  }
}

// いいねした際のハートのデザイン
.heartstyle-red {
  @include colorstyle(red,4rem);
  margin-left: 8.5rem;
}
.heartstyle-normal {
  @include colorstyle(rgba(0, 0, 0, 0.329),4rem);
  margin-left: 8.5rem;
}

// フラッシュメッセージの設定
.notification {
  @include colorstyle(white,3rem);
  font-family: "SoukouMincho";
  background-color: black;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.field_with_errors{
  color: white;
  background-color: black;
  font-size: 5rem;
}