.header{
  font-family: "MotionPicture_PersonalUseOnly";
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  .title a{
    float: left;
    font-size: 80px;
    color: white;
  }
    &__button{
      padding-top: 7px;
      padding-right: 5px;
      float: right;
      font-family: "SoukouMincho";
    }
  }