// ヘッダー部分
.header {
  font-family: "TitleStyle";
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  .header-button{
    box-sizing: border-box;
    margin-bottom: 10rem;
  }
  .title a {
    @include colorstyle(white,9rem);
    float: left;
  }
  &__button {
    padding: 0.8rem 0.5rem 0 0;
    float: right;
    font-family: "SoukouMincho";
  }
  .btn {
    @include colorstyle(black,1.6rem);
  }
}

// ログイン名の表示部分
.myname {
  @include colorstyle(black,3rem);
  top: 10px;
  right: 85rem;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 40px 5px 40px 5px;
}

.search{
  margin-right: 37rem;
  .search-title {
    @include colorstyle(white,3rem);
  }

  .search-field {
    color: black;
    width: 20%;
    height: 3.5rem;
    box-sizing: border-box;
    position: fixed;
    font-size: 2rem;
    font-family: "SoukouMincho";
  }
  .btn {
    position: fixed;
    margin-left: 29rem;
  }
}