.content {
  background-color: gray;
  .title {
    padding-top: 20px;
    font-size: 4rem;
    text-align: center;
  }
    .field{
      text-align: center;
      font-size: 2rem;
      padding-top: 30px;
      &__name{
        width: 30%;
      }
      &__label{
        padding-top: 20px;
      }
      &__input{
        width: 40%;
      }
    }
    .actions{
      padding-top: 180px;
      padding-bottom: 150px;
    }
    .btn{
      width: 30%;
      margin-left: 500px;
      font-size: 30px;
    }
  }