// 投稿詳細画面
.message-field {
  text-align: center;
  &__title {
    @include colorstyle(white,2rem)
  }
  &__area {
    width: 50%;
    height: 80px;
  }
  // 投稿画面で使用しているbootstrap用のボタンデザイン
  .btn-default2 {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

// コメント入力画面
.comments {
  text-align: center;
  &__title {
    @include colorstyle(white,3rem);
  }
  .username {
    @include colorstyle(white,3rem);
  }
  .comment-style {
    @include colorstyle(white, 3rem);
  }
}