// 投稿詳細画面
.message {
  display: block;
  margin: 13rem auto 0;
  width: 100%;
  max-width: 900px;
  background-color: rgba(128, 128, 128, 0.418);
  border: double 10px black;
  font-family: "SoukouMincho";
  .message-field {
    text-align: center;
    &__title {
      @include colorstyle(white,2rem);
    }
    &__area {
      @include colorstyle(black,2.2rem);
      width: 50%;
      height: 80px;
    }
  }
  //  動画に対してコメントを入力するbootstrap用のボタンデザイン
  .btn {
    @include colorstyle(black,2rem);
    margin-bottom: 7rem;
  }
  // コメント入力画面
  .commentlist {
    @include colorstyle(white,3rem);
  }
  .comments {
    text-align: left;
    .username {
      @include colorstyle(white,3rem);
    }
    .username a{
      @include colorstyle(white,3rem);
    }
    .comment-style {
      @include colorstyle(white, 2.5rem);
    }
  }
}