.success {
  width: 100%;
  margin-left: 40%;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  &__message{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 3rem;
  }
  .btn{
    color: red;
    margin-left: 10%;
    font-size: 2rem;
  }
}