.contenter {
  display: block;
  margin: 13rem auto 0;
  width: 100%;
  max-width: 900px;
  background-color: rgba(128, 128, 128, 0.418);
  border-radius: 100px 100px 100px 100px;
  border: double 10px black;
  font-family: "SoukouMincho";
  &__field {
    border-bottom: ridge 10px rgba(0, 0, 0, 0.747);
  }
  .tokosya {
    @include colorstyle(white,3rem);
    padding: 1.6rem 0 0 4rem;
    display: block;;
  }
  .namer {
    @include colorstyle(white,3rem);
    padding-left: 60px;
    display: block;
  }
  .title {
    @include centerwhite(3rem);
  }
  .name {
    @include centerwhite(3rem);
  }

  .comment {
    @include centerwhite(3rem);
  }
  .comment-text {
    @include centerwhite(3rem);
  }
  .movie {
    position: center;
  }
  .iinestyle {
    color: white;
    padding: 0 0 3rem 3rem;
  }
}