<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          </button>
          <a class="navbar-brand" href="#">Meinページ</a>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-default btn-lg">Default</button>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-info">Infomation</button>
          <button type="button" class="btn btn-danger">Danger</button>
        </div>
      </div>
    </nav>
    <div class="example">
    <p>SUNSET</p>
    </div>
    <%= video_tag "douga.mp4", autoplay: true, muted: true, loop: true, width: "100%", height: "100%" %>
  </body>

