%body
  .example
    = video_tag "douga.mp4", autoplay: true, muted: true, loop: true, width: "100%", height: "100%"
    %a{:href => "◯◯"}
      %i.fa.fa-user
      S T A R T!
  %div{:style => "position:absolute; top: 50px;font-size: 80px; color: white;"}
    SIMOAPP
